.pic {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}

img {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 3px 3px 3px gray;
}

main {
  margin-bottom: 100%;
}

main p {
  color: black;
  font-family: "Raleway", sans-serif;
}
h2 {
  font-family: "Raleway", arial, sans-serif;
}

h4 {
  color: rgb(12, 136, 181);
  font-family: "Raleway", sans-serif;
}
