footer {
  background-color: rgb(12, 136, 181);
  margin-top: auto;
  padding: 10px;


}


/* body {
  height: 100%;
}


body {
  background-color: #f5f9f2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
} */
